* { box-sizing: border-box;}
html, body {
  height: 100%;
}

body{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 32px;
  background: #f5f5f5;
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
}