* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  display: grid;
  font-family: 'SeoulNamsan';
  place-items: center;
  margin: 0;
  background: #f5f5f5;
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
}

@font-face {
  font-family: 'SeoulNamsan';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanLight.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanLight.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanLight.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanLight.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'SeoulNamsan';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanMedium.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanMedium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanMedium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanMedium.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'SeoulNamsan';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanBold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'SeoulNamsan';
  font-weight: 800;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.ttf') format("truetype");
  font-display: swap;
}