.card{
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 ;
    padding: 100px 30px 24px;
    border-radius: 1.25em;
    background: #fff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.card::before {
    content: "";
    position: relative;
    top: -880px;
    left: 50%;
    translate: -50% 0;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: #216ce7;
}

@media (width >= 500px) {
    .card{ margin: 0; width: 360px;}
}

.card .logo {
    position: relative;
    width: 120px;
    height:120px;
    bottom: 40px;
}

.card > h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 0 0 30px;
    color: #2566ce;
}


.login-form{
    display: grid;
    gap: 16px;
    margin: 0 0 36px;
}

.login-form > input, button {
    width: 100%;
    height:56px;
    border-radius: 28px;
    text-align: center;
}

.login-form > input[type='text'] {
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: #11274c;
}

.login-form > input[type='password']{
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: #11274c;
}

.login-form > button[type='submit']{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    tarnsition: all 0.375s;
}

.login-form > input[type='button']{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    tarnsition: all 0.375s;
}

.login-form > button[type='submit']:hover{
    background: #000aff;
}

.login-form > input[type='button']:hover{
    background: #000aff;
}

.error-message {
    color: red;
    font-size: 0.85rem;
}

